@import 'bootstrap/dist/css/bootstrap.min.css';

body {
    font-family: "Ubuntu", sans-serif !important;
    background-color: white;
}

h1, h2, h3, h4 {
    color: #006847;
}

@tailwind base;
@tailwind components;
@tailwind utilities;




